


body, html {
    margin: 0;
    padding: 0;
    /* overflow: hidden; */
    height: 100%;
    font-family: 'Arial', sans-serif;
    background-color: #000000;
}

#container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1; /* Send the canvas to the back */
}


.header-bar {
    position: relative;
    z-index: 1; /* Make sure this is above the canvas */
    background-color: #0a0f20; /* This color should match the predominant color of your logo's background */
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px;
    box-shadow: 0px 15px 4px rgba(10, 15, 32, 0.8); /* Horizontal offset, vertical offset, blur radius, color */
}


.tab-buttons {
    display: flex;
    list-style-type: none; /* Removes default list styling */
    margin: 0;
    padding: 0;
}

.tab-button {
    background-color: inherit;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 10px 15px;
    transition: 0.3s;
    font-size: 17px;
    color: white;
    text-decoration: none; /* If you choose to use <a> tags instead of <button> */
}

.tab-button:hover {
    background-color: #ddd;
    color: black;
}

.search-box {
    background-color: rgba(10, 15, 32, 0.8); /* White background with 50% opacity */
    border-radius: 4px; /* Adjust the value for more or less rounding */
    max-width: 800px; /* Maximum width of the paragraph block */
    color: white; 
    border: 2px solid rgba(90, 127, 248, 0.8);
}

.active-tab {
    display: block;
}

.tab-button-dropdown {
    position: relative;
    display: inline-block;
    background-color: #0a0f20; /* Dropdown background color */
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #0a0f20; /* Dropdown background color */
    min-width: 160px; /* Dropdown width */
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2); /* Dropdown shadow */
    z-index: 1; /* Ensure dropdown appears on top */
}

.dropdown-content button {
    color: white;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    border: none;
    background: none;
    text-align: left;
    width: 100%; /* Make the button fill the container */
    box-sizing: border-box; /* Include padding and border in the element's total width and height */
}

.tab-button-dropdown:hover .dropdown-content {
    display: block; /* Show dropdown when hovering over the tab button */
}

.dropdown-content button:hover {
    color: black;
    background: #f1f1f1; /* Button hover color in dropdown */
}

#searchResults {
    position: absolute;
    border: 1px solid #dedede;
    display: none;
}

.result-item {
    padding: 10px;
    cursor: pointer;
    background-color: rgba(10, 15, 32, 0.8);
}
.result-item:hover {
    background-color: rgba(90, 127, 248, 0.8);
}

table {
    width: 100%;
    border-collapse: collapse;
    margin: 0px 0;
    font-family: Arial, sans-serif;
    color: #ffffff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    background-color: none;
    font-size: 22px; /* Increase font size */
}

th, td {
    padding: 12px 15px;
    text-align: center;
    border-bottom: 1px solid #ddd;
}

th {
    background-color: none;
    color: white;
    font-weight: bold;
}
.th-game-status {
    background-color: #00da1d6c;
    color: rgb(0, 0, 0);
    font-weight: bold;
}

tr:nth-child(even) {
    background-color: #05427779;
}

img.game-image {
    width: 100px; /* Adjust as needed */
    height: auto;
}

.game-image {
    vertical-align: middle;
}


img.venue-image {
    width: 250px; /* Adjust as needed */
    height: auto;
}
.venue-image {
    vertical-align: auto;
}

.interactive-div {
    background-color: rgba(10, 15, 32, 0.8); /* White background with 50% opacity */
    border-radius: 8px; /* Adjust the value for more or less rounding */
    box-shadow: 0px 0px 20px rgba(90, 127, 248, 0.8); /* Horizontal offset, vertical offset, blur radius, color */
    padding: 0px; /* Space inside the box */
    margin: 5px 30px; /* Space outside the box, only top, and bottom in this case */
    max-width: 600px; /* Maximum width of the paragraph block */
    color: white; 
    border: 2px solid rgba(90, 127, 248, 0.8);
    transition: border-color 0.3s ease-in-out, box-shadow 0.3s ease-in-out; /* Transition for border color and box shadow */
    display: inline-block; /* Ensure they are inline-block elements */
    width: 500px; /* Set a fixed width */
    flex-shrink: 0; /* Prevent the item from shrinking */
    flex-grow: 0; /* Prevent the item from growing */
}

.interactive-div:hover {
    border-color: #4CAF50; /* Border color when hovered */
    box-shadow: 0px 0px 20px #4CAF50; /* Horizontal offset, vertical offset, blur radius, color */
}

.hidden-content {
    transition: max-height 0.5s ease-in-out;
    overflow: hidden;
    max-height: 0;
}

.show-content {
    max-height: 1000px; /* Expand up to 1000px */
    overflow-y: auto; /* Scrollable if content exceeds 500px */
}


.flex-container {
    display: flex; /* Use flexbox */
    justify-content: space-between; 
}

.flex-item {
    flex: 1; /* Each flex item will take up an equal amount of space */
    padding: 10px; /* Add some space inside the columns */
    border: none; /* Optional border for columns */
}

.live-events-header {
    font-size: 24px; /* Example font size */
    font-weight: bold; /* Example font weight */
    padding: 0px; /* Example padding */
    background-color: transparent; /* Use 'transparent' instead of 'none' for background color */
    color: white; /* Example text color */
    width: 100%; /* Full width */
    text-align: center; /* Center the text horizontally */
    display: flex; /* Make the header a flex container */
    justify-content: center; /* Center content horizontally in the header */
    align-items: center; /* Center content vertically in the header */
}

.live-events-flex {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    overflow-x: scroll;
    max-width: 1700px;
    white-space: nowrap;
    flex-wrap: nowrap;
}

/* Loading circle animation */
@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}
  
.loader-overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(128, 128, 128, 0.5); /* Grey background */
    display: flex;
    justify-content: center;
    align-items: center;
}

.loader {
    border: 5px solid #000000; /* Light grey border */
    border-top: 5px solid #11d225; /* Blue color */
    box-shadow: 0px 0px 20px #4CAF50; /* Horizontal offset, vertical offset, blur radius, color */
    border-radius: 50%;
    width: 50px;
    height: 50px;
    animation: spin 1s linear infinite;
}

@keyframes flash {
    0% { background-color: transparent; }
    50% { background-color: green; }
    100% { background-color: transparent; }
  }
  
.flash-effect {
    animation: flash 1s; /* Run for 1 second */
}

.team-card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 140px;
    height: 190px;
    box-shadow: 0px 0px 12px rgba(0,255,255,0.5);
    border: 1px solid rgba(127,255,255,0.25);
    border-radius: 4px; /* Adjust the value for more or less rounding */
    background-color: rgba(0, 255, 255, 0.258);
    font-family: Helvetica, sans-serif;
    text-align: center;
    line-height: normal;
    cursor: default;
}

.team-card:hover {
    box-shadow: 0px 0px 20px rgba(0, 255, 149, 0.75);
    background-color: 0px 0px 20px rgba(0, 209, 122, 0.75);
    border: 1px solid rgba(0, 255, 149, 1.0);
}

    .team-card .team-name {
        font-size: 26px;
        font-weight: bold;
        color: rgb(0, 0, 0);
    }

    .team-card .team-logo {
        width: 100px; /* Adjust as needed */
        height: auto;
        vertical-align: middle;
    }