<!DOCTYPE html>
<html>
<head>
    <title>Sports Leagues</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/styles.css') }}">

    <script type="importmap">
        {
            "imports": {
                "three": "/static/build/three.module.js",
                "three/addons/": "/static/jsm/"
            }
        }
    </script>
    <script src="https://cdn.socket.io/4.7.4/socket.io.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script type="module" src="{{ url_for('static', filename='js/fetchLeagueEvents.js') }}"></script>
    <script src="{{ url_for('static', filename='js/openTabs.js') }}"></script>
    <script src="{{ url_for('static', filename='js/searchBars.js') }}"></script>
    <script src="{{ url_for('static', filename='js/chartEvents.js') }}"></script>
    <script src="{{ url_for('static', filename='js/addCurrentEventsContent.js') }}"></script>
    <script src="{{ url_for('static', filename='js/liveGameUpdater.js') }}"></script>
</head>
<body>
    <div id="container"></div> <!-- Three.js canvas will be here -->
    <div class="content">
        <div class="header-bar">
            <!-- <img src="{{ url_for('static', filename='images/logo.png') }}" alt="AI Sportsbook Logo" class="header-logo"> -->

            <div class="tab-buttons">
                <div class="tab-button-dropdown">
                    <button class="tab-button">NFL</button>
                    <div class="dropdown-content">
                        <button onclick="openLiveData('NFL')">Live Data</button>
                        <button onclick="openTeamsData('NFL')">Teams</button>
                        <button onclick="openPlayersData('NFL')">Players</button>
                        <!-- Add more buttons or other elements as needed -->
                    </div>
                </div>
                <div class="tab-button-dropdown">
                    <button class="tab-button">NBA</button>
                    <div class="dropdown-content">
                        <button onclick="openLiveData('NBA')">Live Data</button>
                        <button onclick="openTeamsData('NBA')">Teams</button>
                        <button onclick="openPlayersData('NBA')">Players</button>
                        <!-- Add more buttons or other elements as needed -->
                    </div>
                </div>
                <div class="tab-button-dropdown">
                    <button class="tab-button">MLB</button>
                    <div class="dropdown-content">
                        <button onclick="openLiveData('MLB')">Live Data</button>
                        <button onclick="openTeamsData('MLB')">Teams</button>
                        <button onclick="openPlayersData('MLB')">Players</button>
                        <!-- Add more buttons or other elements as needed -->
                    </div>
                </div>
            </div>
            <div>
            </div>
        </div>

        <div id="NFL-live" data-sport="football" class="tab-content">
            <!-- <div class="paragraph-block">
                <h2>NFL Data</h2>
                <canvas id="liveChart" width="400" height="400"></canvas>
            </div> -->

            <div id="live-NFL-events" class="paragraph-block"></div>
            <div id="upcoming-NFL-events" class="paragraph-block"></div>
            <div id="recent-NFL-events" class="paragraph-block"></div>
        </div>
        <div id="NFL-players" data-sport="football" class="tab-content">
            <div class="paragraph-block">
                <input type="text" id="searchBox" placeholder="Search for player..." class="search-box" data-league="nfl" data-cat="players">
                <div id="searchResults-nfl-players"></div>
            </div>
        </div>

        <div id="NFL-teams" data-sport="football" class="tab-content">
            <div class="paragraph-block">
                <input type="text" id="searchBox" placeholder="Search for team..." class="search-box" data-league="nfl" data-cat="teams">
                <div id="searchResults-nfl-teams"></div>
            </div>
        </div>

        <div id="NBA-live" data-sport="basketball" class="tab-content">
            <div id="live-NBA-events" class="paragraph-block"></div>
            <div id="upcoming-NBA-events" class="paragraph-block"></div>
            <div id="recent-NBA-events" class="paragraph-block"></div>
        </div>
        <div id="NBA-players" data-sport="football" class="tab-content">
            <div class="paragraph-block">
                <input type="text" id="searchBox" placeholder="Search for players..." class="search-box" data-league="nba" data-cat="players">
                <div id="searchResults-nba-players"></div>
            </div>
        </div>

        <div id="NBA-teams" data-sport="football" class="tab-content">
            <div class="paragraph-block">
                <input type="text" id="searchBox" placeholder="Search for teams..." class="search-box" data-league="nba" data-cat="teams">
                <div id="searchResults-nba-teams"></div>
            </div>
        </div>

        <div id="MLB-live" data-sport="baseball" class="tab-content">
            <div class="paragraph-block">
                <h2>MLB</h2>
                <p>Content for MLB.</p>
            </div>
            <div id="live-MLB-events" class="paragraph-block"></div>
            <div id="upcoming-MLB-events" class="paragraph-block"></div>
            <div id="recent-MLB-events" class="paragraph-block"></div>
        </div>
        <div id="MLB-players" data-sport="baseball" class="tab-content">
            <div class="paragraph-block">
            </div>
        </div>

        <div id="MLB-teams" data-sport="baseball" class="tab-content">
            <div class="paragraph-block">
            </div>
        </div>
    </div>



    <script type="module" src="{{ url_for('static', filename='js/main.js') }}"></script>

</body>
</html>
